body {
    background-image       : url("assets/main_background.jpg");
    background-position    : center, center;
    background-attachment  : fixed;
    background-repeat      : no-repeat;
    background-size        : cover;
    -o-background-size     : cover;
    -moz-background-size   : cover;
    -webkit-background-size: cover;
    padding-top            : 3rem;
}